.navbar {
    background-color: #000;
    padding: 1.5rem 2rem;
    position: relative;
    height: 5vh;
  }
  
  .bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    height: 100vh;
    padding: 3rem 0rem;
    transition: 700ms;
    background-color: #000;
  }
  
  .active{
    transform: translate(-100%);
  }
  
  .link {
    text-decoration: none;
    font-size: 18px;
    transition: 600ms;
    margin-top: 50px;
  }
  
  .link:hover {
    color: #bffdbf;
    transition: 450ms;
  }
  
  .link-active {
    color: #bffdbf;
    text-decoration: none;
    transition: 450ms;
    font-size: 18px;
    box-shadow: #bffdbf 0px 2px 0px;
    margin-top: 50px;
  }
  
  .nav-icon-color {
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }
  
  @media(min-width: 769px) {
    .active {
        transform: unset;
    }
  
    .bar {
        position: unset;
        height: unset;
        padding: 0rem;
        flex-direction: row;
        gap: 2rem;
    }
  
    .link {
        margin-top: 0rem;
    }
  
    .link-active {
        margin-top: 0rem;
    }
  
    .toggle {
        display: none;
    }
  }